
// form placeholders
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

// COMEÇO DO FORMULARIO

.Form-Wrapper {
  flex: 1;
  line-height: 1.5;

  @media (max-width: $width-m) {
    margin-top: 50px;
  }

  // ALINHAR O H3 AO CENTRO
  h3 {
    text-align: center;
  }
}

// TITULO DO FORM + LABEL E INPUT

.pt-form{
  display: flex;
  flex-direction: column;
  align-items: center;

  #email-error, #telefone-error, #requiredElements-error {
    color: red;
  }

  .pt-form-success {
    margin-top: 20px;
  }

  .pt-form-hidden {
    display: none;
  }

  .pt-formblock{
    display: block;
    width: 90%;
    margin-bottom: 20px;
    &:last-of-type{
      padding-bottom: 0;
    }

    label {
      font-weight: 800;
      font-size: 12px;
      text-transform: uppercase;
      text-align: left;
      margin-bottom: 5px;
      color: #fff;
    }

    input{
      width: 100%;
      height: 35px;
      line-height: 35px;
      padding: 0 5px;
      outline: 0;
      border: 0;
      font-size: 12px;
      background-color: rgba(#fff, .2);
      color: #fff;
    }

    @include placeholder{
      color: rgba(#fff, 0.25);
      font-size: 10px;
    }

    .pt-button{
      margin-top: 20px;
    }

    @media (max-width: $width-m) {
      width: 100%;
    }
  }

  @media (max-width: $width-m) {
    padding: 20px;
  }
}

// BOTÕES DO FORM

.pt-button{
  height: 35px;
  min-width: 150px;
  padding: 0 30px;
  line-height: 35px;
  border: 0;
  outline: 0;
  background-color: $theme-color;
  text-transform: uppercase;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  &.full-width{
    display: block;
    width: 100%;
  }

  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.7;
  }
}
