
// form placeholders
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

// COMEÇO DO FORMULARIO

.Form-Wrapper {
  flex: 1;
  line-height: 1.5;

  @media (max-width: $width-m) {
    margin-top: 50px;
  }

  // ALINHAR O H3 AO CENTRO
  h3 {
    text-align: center;
  }
}

// TITULO DO FORM + LABEL E INPUT

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;

  #email-error, #telefone-error, #requiredElements-error {
    color: $error-color;
  }

  #formLoading {
    visibility: hidden;
  }

  .Form-Message {
    margin-top: 20px;
    height: 38px;
  }

  .Form-Hidden {
    display: none;
  }

  .Form-LabelContainer {
    display: flex;
    justify-content: space-between;
  }

  .Form-Block{
    display: block;
    width: 90%;
    margin-bottom: 20px;
    &:last-of-type{
      padding-bottom: 0;
    }

    label {
      font-weight: 800;
      font-size: 12px;
      text-transform: uppercase;
      text-align: left;
      margin-bottom: 5px;
      color: #fff;
    }

    input{
      width: 100%;
      padding: 10px;
      outline: 0;
      border: 1px solid transparent;
      font-size: 16px;
      background-color: rgba(#fff, 0.2);
      color: #fff;
      transition: border-color 0.5s ease;

      &:focus {
        border-color: white;
      }

      &.error {
        border-color: $error-color;
      }
    }

    @include placeholder{
      color: rgba(#fff, 0.25);
      font-size: 14px;
    }

    .Button {
      margin-top: 20px;
    }

    @media (max-width: $width-m) {
      width: 100%;
    }
  }

  @media (max-width: $width-m) {
    padding: 20px;
  }
}

// BOTÕES DO FORM

.Button {

  padding: 10px;
  width: 100%;

  border: 1px solid transparent;
  outline: 0;

  background-color: $theme-color;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: 700;

  text-align: center;
  vertical-align: middle;

  cursor: pointer;

  transition: background-color 0.3s ease,
    border-color 0.2s ease;

  &:hover, &:focus {
    background-color: rgba($theme-color, 0.7);
    border-color: white;
  }

  &:active {
    background-color: darken($theme-color, 20%);
  }

  &[disabled] {
    background-color: grey;
    cursor: auto;

    &:hover {
      opacity: 1;
    }
  }
}
