
// PROJECTO
  .ProjectContainer {
  display: flex;
  background-color: white;
  padding: 40px 70px;
  line-height: 1.5;

  .Project-Wrapper {
    display:flex;

    @media (max-width: $width-m) {
      display: block;
      text-align: center;
      margin: 0;
    }

    .pt-project {
      flex: 1.5;
      margin:auto;
    }

    .pt-team {
      flex: 1;
      margin-left: 20px;

      @media (max-width: $width-m) {
        margin: 20px 0;
      }

    }

  }

  @media (max-width: $width-xs) {
    p {
      font-size: 12px;
      margin: 10px 0;
    }
  }
}
